-*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body  {
    margin: 0;
  

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;

    background: #ffffff;

}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
img {
    max-width: 100%;
    height: auto;
}

.main-header {
    
    padding-top: 40px; 
    margin-bottom: 481px;
    
    
}
.inner-page .main-header {
    margin-bottom: 44px;

}
.header-container {
    background-color: #f7e296;
    width: 1160px;
    
}
.main-header-logo {
    width: 163px;
    height: 35px;
    margin: 0;
    
    
    
}
.main-navigation {
    display: flex;
    flex-direction: column;
    
        
}

.user-navigation {
    width: 580px;
    
}

.nav-user-form {
    
    width: 100%;
    padding-bottom: 52px;
}

.site-nav {
    width: 100%;
     
}
.logo  {
    
    max-width: 1200;
    padding-left: 40px;
}
.logo .main-header-logo {
    position: relative;
}


.main-header-logo::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 40px;

    width: 163px;
    height: 35px;
   
}
.main-header-logo:hover::before
.main-header-logo:focus::before {
    opacity: 0.6;
}

.main-header-logo:active::before {
    opacity: 0.3;
}
    

.container
 {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}
.nav-user-form {
    display: flex;
    justify-content: space-between;
    
    
}
.user-navigation {
    
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 580px;
    
}
.user-navigation a {
    display: block;
}
.user-navigation .basket-link {
    position: relative;
}
.basket-link {
    padding-right: 40px;
    padding-left: 25px;
}
.basket-link::before {
    content: "";

    position: absolute;
    width: 12px;
    height: 12px;
    left: 3px;
    top: 9px;

    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    
}
.basket-link:hover::before,
.basket-link:focus::before {
    opacity: 0.6;
}
.basket-link:active::before {
    opacity: 0.3;
}
.comparisen-link {
    padding-right: 40px;
    padding-left: 25px;
}
.user-navigation .comparisen-link {
    position: relative;
}
.comparisen-link::before {
    content: "";

    position: absolute;
    width: 12px;
    height: 12px;
    left: 5px;
    top: 10px;

    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.comparisen-link:hover::before,
.comparisen-link:focus::before {
    opacity: 0.6;
}
.comparisen-link:active::before {
    opacity: 0.3;
}
.link {
    padding-right: 212px;
    padding-left: 25px;
}
.user-navigation .link {
    position: relative;
}
 .link::before {
    content: "";

    position: absolute;
    width: 12px;
    height: 12px;
    left: 2px;
    top: 9px;

    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.link:hover::before,
.link:focus::before {
    opacity: 0.6;
}
.link:active::before {
    opacity: 0.3;
}

 .site-navigation {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    
    
}
.site-navigation a {
    display: block;
}
.contacts-link {
    padding-right: 36px;
    padding-left: 5px;
}
.guarantee-link {
    padding-right: 112px;
    padding-left: 20px;
}
.delivery-link {
    padding-right: 40px;
    
}
.catalog-link {
    padding-right: 425px;
}
.form-search  {
    
    width: 440px;
    margin: 0;
    padding: 0;
    

} 
.form-search .search {
    position: relative;
}  
.search::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 7px;

    width: 16px;
    height: 16px;
    

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;


}
.search {
    padding-left: 80px;
    border: none;
    background-color: #f7e296;
    opacity: 0.4;
}
.search:hover::before {
    opacity: 0.8;
}
.form-search .button {
    display: none;
}
.form-search .button:active::before {
    border: solid black 2px;
     
}





/*
body > * {
    background: rgba(255, 0, 0, 0.3);
}
body > * > *{
    background: rgba(255, 255, 0, 0.3);
}
body > * > * > * {
    background: rgba(0, 0, 255, 0.3);
    
}
body > * > * > * > * {
    background: rgba(0, 255, 255, 0.3);
}
*/





.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*a .main-header-logo:hover */ 
   

a {
    text-decoration: none;
    letter-spacing: 2px; 
}

.button {
    font: inherit;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.user-navigation a,
.user-footer-navigation a,
.social a,
.sub-navigation a {
    letter-spacing: normal;
}


.user-navigation,
.site-navigation,
.sub-navigation {
    list-style: none;
    margin: 0;
    padding: 0;

} 
.user-navigation a,
.site-navigation a,
.sub-navigation a {
    color: #000000;
}
.user-navigation a:hover,
.site-navigation a:hover,
.sub-navigation a:hover {
    opacity: 0.6;
}
.user-navigation a:focus,
.site-navigation a:focus,
.sub-navigation a:focus{
    opacity: 0.6;
}    
.user-navigation a:active,
.site-navigation a:active,
.sub-navigation a:active {
    opacity: 0.3;
}
.user-navigation {
    font-family: "Open sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    text-transform: capitalize;
    color: #000000;
}  
.site-navigation {
    text-transform: uppercase;
    
}
.sub-navigation {
    font-family: "Open sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: capitalize;
    color: #000000;
}
.sub-navigation {
    display: flex;
    justify-content: space-between;
    
    padding-top: 55px;

}


.column .container {
    display: flex;
    justify-content: space-between;

}

.page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000000;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    width: 500px;
}
.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    width: 400px;
}
.breadcrumbs a {
    position: relative;
    display: block;
    padding-right: 38px;

}
.main-bc::before {
    content: "";
    position: absolute;
    right: 16px;
    top: 10px;

    width: 4px;
    height: 7px;
    

    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.catalog-bc::before {
    content: "";
    position: absolute;
    right: 16px;
    top: 10px;

    width: 4px;
    height: 7px;
    

    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.title-breadcrumbs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.filters {
    width: 200px;
    margin-top:300px;
}
.catalog {
    width: 780px;
}
.catalog-columns .container {
    display: flex;
    justify-content: space-between;   
    
}


.catalog-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.catalog-item {
    width: 360px;
    
    margin-right: 40px;
}
.catalog-item:nth-child(2n) {
    margin-right: 0;
}
.color,
.bluetooth {
    font-family: "Open sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    text-transform: capitalize;
    color: #000000;
}
.selfi-amateur {
    display: flex;
    justify-content: space-between;
}
.selfi-prof {
    display: flex;
    justify-content: space-between;
}
.selfi-prof h3 {
    width: 180px;
}
.selfi-waterproof {
    display: flex;
    justify-content: space-between;
}
.selfi-follow {
    display: flex;
    
    justify-content: space-between;
}
.selfi-follow h3 {
    width: 223px;
}
.breadcrumbs {
    font-family: "Open sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-transform: capitalize;
    color: #676767;

    list-style: none;
    
}
.breadcrumbs a {
    color: #676767;
    letter-spacing: normal;
}

.filter-list {
    list-style: none;
}
.bluetooth-filter {
    list-style: none;
}
.catalog-list {
    list-style: none;
}
.catalog-list a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: normal;
    color: #000000;
    
}


.legend {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
}
.price {
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-top: 22px;
    padding-right: 0;
    
    font-weight: 300;
    font-size: 16;
    color: #464646;
}













.info {
    text-align: left;
}
.info h2 {
    font-size: 47px;
    line-height: 48px;
    margin: 0;
    
    
    
}
.info p,
.contacts p {
    font-family: "Open sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
    margin: 0;
}
.info a {
    color: #000000;

}
.info-1 {
    padding-top: 60px;
    padding-bottom: 45px;
}
.info-2 {
    padding-bottom: 80px;
}
.info-3 {
    padding-top: 60px;
    padding-bottom: 45px;
}

.about-us,
.write-us {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.transport-company  {
    width: 200px;
    
    
    list-style: none;
    padding: 0;
    margin: 0;

} 
.transport-company li {
    position: relative;
} 
.transport-company li {
    display: block;
    padding-left: 26px;
    padding-bottom: 20px;

}
.transport-company li::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: -4px;
    top: 5px;
    opacity: 0.1;

    background-image: url("../img/slider-button1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;


}
.about-us {
    display: block;
    padding-left: 23px;
    padding-top: 55px;
    width: 237px;

}
.contacts h2 {
    font-size: 47px;
    line-height: 48px; 
    margin: 0;
}
 
.contacts a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;


}
.big-map img {
    padding-bottom: 100px;
}
.write-us {
    padding-left: 40px;
}













.main-footer {
    background-color: #464646;
    color: #ffffff;
    width: 100%;
    margin-top: 90px;
    
}
.logo-footer-user {
    padding-top: 55px;
    padding-bottom: 20px;
}
/*.main-footer-logo  {
    display: block;
    padding-top: 65px;
    width: 163px;
    height: 35px;
}
    */
.site-footer-navigation {
    display: flex;
    justify-content: space-around;
    
}
.site-footer-navigation a {
    display: block;
}

.contacts-site-footer {
    padding-bottom: 65px;
}
.footer-contacts-link {
    padding-right: 125px;
}
.user-footer-navigation {
    
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.user-footer-navigation .footer-basket {
    position: relative;
}
.user-footer-navigation a {
    display: block;
}
.footer-basket,
.footer-comparisen,
.footer-link {
    padding-left: 25px;
}
.footer-basket::before {
    content: "";

    position: absolute;
    width: 12px;
    height: 12px;
    left: 3px;
    top: 10px;

    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-footer-navigation .footer-comparisen {
    position: relative;
}
.footer-comparisen::before {
    content: "";

    position: absolute;
    width: 12px;
    height: 12px;
    left: 5px;
    top: 11px;

    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.user-footer-navigation .footer-link {
    position: relative;
}
.footer-link::before {
    content: "";

    position: absolute;
    width: 12px;
    height: 12px;
    left: 1px;
    top: 11px;

    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}
.footer-basket:hover::before {
    opacity: 0.6;
}
.footer-comparisen:hover::before {
    opacity: 0.6;
}
.footer-link:hover::before {
    opacity: 0.6;
}
.footer-basket:focus::before {
    opacity: 0.6;
}
.footer-comparisen:focus::before {
    opacity: 0.6;
}
.footer-link:focus::before {
    opacity: 0.6;
}
.footer-basket:active::before {
    opacity: 0.3;
}
.footer-comparisen:active::before {
    opacity: 0.3;
}
.footer-link:active::before {
    opacity: 0.3;
}

.social {
    display: flex;
    justify-content: space-between;
}
.logo-footer-user {
    display: flex;
    justify-content: space-between;
 
}
.footer-navigation {
    margin: 0;
    padding: 0;
    width: 360px;
}
.site-footer-navigation {
    margin: 0;
    padding: 0;
    width: 560px;
}
.footer-contacts {
    margin: 0;
    padding: 0;
    width: 280px;   
}
.telefon-number {
    margin: 0;
    padding: 0;
    
}
.contacts-site-footer {
    display: flex;
    justify-content: space-between;
}
.social {
   
    margin: 0;
    padding: 0;
}
.footer-social {
    display: flex;
    flex-direction: column;
    
}
.social-list {
    align-self: center;
}
.logo-HTMLA {
    align-self: flex-end;
    
    
}
.social-list .logo-HTMLA {
    position: relative;
}
.logo-HTMLA::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 35;
    right: 5px;
    top: 11px;

}
 


.user-footer-navigation a,
 .social a {
    color: #ffffff;
    opacity: 0.7;
    font-family: "Open sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    text-transform: capitalize;
    
}
.user-footer-navigation,
.site-footer-navigation,
.social {
    
    list-style: none;
}

.site-footer-navigation a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}
.user-footer-navigation a:hover {
    
    opacity: 1;
}
.user-footer-navigation a:focus {
    opacity: 1;
}
.site-footer-navigation a:hover {
    opacity: 0.6;
}
.site-footer-navigation a:focus {
    opacity: 0.6;
}

.user-footer-navigation a:active {
    opacity: 0.3;
}
.site-footer-navigation a:active {
    opacity: 0.3;
}
.social a {
    display: block;
    opacity: 0.3;
}
.social-button-fb {
    padding-right: 17px;
}
.social-button-twit {
    padding-left: 17px;
}
.social a:hover {
    opacity: 0.6;
}
.social a:focus {
    opacity: 0.6;
}
.social a:active {
    opacity: 0.1;
}

/*.social-button-fb {
    background-image: url("../img/fb.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 32;
    height: 32;
    opacity: 0.3;
}*/
.write-form input {
    font: inherit;
    border: none;
    background-color: #f2f2f2;

}






.mail-text {
    font-family: "Open sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #464646;
    border: none;
    background-color: #f2f2f2;

}
.footer-contacts,
.telefon-number 
 {
    font-family: "Open sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
}










.modal-write {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;

}
.write-form input {
    font-family: "Open sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #464646;
}






